@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .z-60 {
    z-index: 60;
  }

  @media screen and (min-width: 1920px) {
    .container {
      max-width: 1608px;
    }
  }

  @media screen and (min-width: 1366px) and (max-width: 1919px) {
    .container {
      max-width: 1104px;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1365px) {
    .container {
      max-width: 808px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      max-width: 768px;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    .container {
      max-width: 360px;
    }
  }
}
